

body {
    font-familly: "Courier";
    background-color: black;
    text-align: left; 
    color: white;
}
h1::first-letter{
    color: aqua;
    font-size: 110%;
    padding: 2px;
    
}
a{
    color: yellow;
}
date {
    letter-spacing: 2.5px;
}
p, ul {
    color: #00ffb4;
}
li {
    list-style: square;
}
h3, h1 {
    color: #48FFaa;
    margin: 10px;
    width: 100%;
    offset-right: 5px;
    
}
h4 {
    color: white;
}
h5 {
    color: lime;
}
hr {
    color: #35f2d7;
}
u {
    color: #c130ee;
}

#Using {
    color: aqua;
    margin: 2px;
}
#Name {
    font-weight: bold;
    border-bottom: 1px ridge #48FFaa;
    border-radius: 8px;
    margin: 2px;
    word-spacing: 125%;
}
#Platform {
    margin: 5px;
    padding: 0px;

}

#ShortDesc {
    color: cyan;
    margin: 0px;
    line-height: 80%;
}
#LongDesc {
    color: #bbffdd;
    margin: 4px;
    line-height: 90%;
}
#LastUp {
    color: white;
    padding: 2px;
}
#DateLong {
    color: crimson;
    font-size: 110%;
}
#DateShort {
    color: lightgreen;
    font-size: 90%;
}

#ProjectFilesHeader {
    color: white;
    margin: 2px;
}
#ChangelogHeader {
    color: white;
    margin: 4px;
}
#VersionNum {
    color: #3088ff;
    padding-left: 10px;
    padding-top: 2px
    padding-bottom: 2px;
    font-size: 100%;
}
#Lang {
    color: white;
    padding: 1px;
    border-bottom: 1px simple white;
}
#vnList {
}
.changeslist {
    font-size: 80%;
    letter-spacing: 40%;
}
.file {
    color: darkyellow;
    background-color: blue;    
}
.file:hover {
    color: darkred;
    
}
footer {
    font-size: 75%;
    letter-spacing: 35%;
}
#laupVersion {
    color: lime;
    margin-left: 2px;
    margin-bottom: 2px;
    font-size:75%;
    font-style: italic;
    border-bottom: 1px ridge green;    
}
.projxtitle{
    color: cyan;
    font-size: 110%;
    font-weight: bold;    
    margin-top:2px;
    margin-left: 2px;
}
.projxdesc{
    color: white;
    font-size: 100%;
    margin-left: 8px;    
}
.projxbox{
    border: 2px inset #baffff;
    outline: 3px;    
    border-radius: 0px;
    margin: 8px 0px;
    padding: 4px 2px;
}
